In [1]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [4]:
is_first_of_the_month = False
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

In [9]:
False and False

False

In [10]:
0.1 + 0.2

0.30000000000000004

In [11]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [12]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [15]:
print('\nthis is\na poem\ndedicated to\nmyself')

this is
a poem
dedicated to
myself

#################### EXERCISES ######################

In [16]:
type(99.9)

float

In [17]:
type("False")

str

In [21]:
type(False)

bool

In [20]:
type('0')

str

In [22]:
type(0)

int

In [23]:
type(True)

bool

In [24]:
type('True')

str

In [25]:
type([{}])

list

In [26]:
type({'a': []})

dict

2. What data type would best represent the following?

- A term or phrase typed into a search box
> string
- Whether or not a user is logged in
> boolean
- A discount amount to apply to a user's shopping cart
> float
- Whether or not a coupon code is valid
> boolean
- An email address typed into a registration form
> string
- The price of a product
> float
-  The email addresses collected from a registration form
> list
- Information about applicants to Codeup's data science program
> dictionary

In [34]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [30]:
6 % 4

2

In [33]:
type(6 % 4)

int

In [32]:
type(type(6 % 4)) #type int

type

In [35]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [36]:
0 < 0

False

In [67]:
'False' == False

False

In [38]:
True == 'True'

False

In [39]:
5 >= -5

True

In [69]:
True or "42"

True

In [43]:
6 % 5

1

In [44]:
5 < 4 and 1 == 1

False

In [70]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

True

In [46]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [47]:
6 % 3 == 0

True

In [48]:
5 % 2 != 0

True

In [49]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [50]:
[1] + [2]

[1, 2]

In [51]:
[1] * 2

[1, 1]

In [52]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [72]:
[] + []

[]

In [54]:
{} + {} #it might have different keys thus can't be combined

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [74]:
mer = 3 #you can run a == without defining the variable first
bb = 5
her = 1
fee = 3
total = fee * (mer + bb + her)
print (total)

27

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?

In [57]:
google = 400
amazon = 380
fb = 350

payment = 10 * fb + 6 * google + 4 * amazon
print (payment)

7420

6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [78]:
class_full = True
schedule_conflict = True
can_enroll = not class_full and not schedule_conflict
can_enroll

False

7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [87]:
buy_more_than_2 = False
offer_expired = False
is_premium = True

In [88]:
product_offer = (buy_more_than_2 or is_premium) and not offer_expired
product_offer

True

8. Use the following code to follow the instructions below:

username = 'codeup'
password = 'notastrongpassword'
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus: Neither the username or password can start nor end with whitespace

In [120]:
username = '1' 
password = 'notastrongpassword'
password_len = len(password) >= 5
username_len = len(username) <= 20
unique_creds = password != username
no_space_username = len(username) == len(username.strip())
no_space_password = len(password) == len(password.strip())
password_len and username_len and unique_creds and no_space_username and no_space_password

True