In [1]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [4]:
is_first_of_the_month = False
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

False

In [9]:
False and False

False

In [10]:
0.1 + 0.2

0.30000000000000004

In [11]:
print('Here is a single quote --> \' <-- ')
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [12]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [15]:
print('\nthis is\na poem\ndedicated to\nmyself')

this is
a poem
dedicated to
myself

#################### EXERCISES ######################

In [16]:
type(99.9)

float

In [17]:
type("False")

str

In [21]:
type(False)

bool

In [20]:
type('0')

str

In [22]:
type(0)

int

In [23]:
type(True)

bool

In [24]:
type('True')

str

In [25]:
type([{}])

list

In [26]:
type({'a': []})

dict

2. What data type would best represent the following?

- A term or phrase typed into a search box
#string
- Whether or not a user is logged in
#boolean
- A discount amount to apply to a user's shopping cart
#float
- Whether or not a coupon code is valid
#boolean
- An email address typed into a registration form
#string
- The price of a product
#float
- The email addresses collected from a registration form
#string
- Information about applicants to Codeup's data science program
#list

In [34]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [30]:
6 % 4

2

In [33]:
type(6 % 4)

int

In [32]:
type(type(6 % 4))

type

In [35]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [36]:
0 < 0

False

In [37]:
'False' == False

False

In [38]:
True == 'True'

False

In [39]:
5 >= -5

True

In [42]:
True or "42"

True

In [43]:
6 % 5

1

In [44]:
5 < 4 and 1 == 1

False

In [45]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [46]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [47]:
6 % 3 == 0

True

In [48]:
5 % 2 != 0

True

In [49]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [50]:
[1] + [2]

[1, 2]

In [51]:
[1] * 2

[1, 1]

In [52]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [53]:
[] + [] == []

True

In [54]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [56]:
mer = 3
bb = 5
her = 1
fee = 3
total = fee * (mer + bb + her)
print (total)

27

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google, and 4 hours for Amazon.

How much will you receive in payment for this week?

In [57]:
google = 400
amazon = 380
fb = 350

payment = 10 * fb + 6 * google + 4 * amazon
print (payment)

7420

6. A student can be enrolled in a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [62]:
class Student:
    def __init__(self, name, current_schedule):
        self.name = name
        self.current_schedule = current_schedule

class Class:
    def __init__(self, name, max_capacity, class_schedule):
        self.name = name
        self.max_capacity = max_capacity
        self.class_schedule = class_schedule
        self.enrolled_students = []

    def is_full(self):
        return len(self.enrolled_students) >= self.max_capacity

    def has_schedule_conflict(self, student):
        return student.current_schedule == self.class_schedule

    def enroll_student(self, student):
        if not self.is_full() and not self.has_schedule_conflict(student):
            self.enrolled_students.append(student)
            return True
        else:
            return False




student1 = Student("Alice", "Monday, Wednesday, Friday")
student2 = Student("Bob", "Tuesday, Thursday")

class1 = Class("Math 101", 20, "Monday, Wednesday")
class2 = Class("History 202", 15, "Tuesday, Thursday")

if class1.enroll_student(student1):
    print(f"{student1.name} enrolled in {class1.name}")
else:
    print(f"{student1.name} could not enroll in {class1.name}")

if class2.enroll_student(student2):
    print(f"{student2.name} enrolled in {class2.name}")
else:
    print(f"{student2.name} could not enroll in {class2.name}")

Alice enrolled in Math 101
Bob could not enroll in History 202

7. A product offer can be applied only if a customer buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [63]:
class Customer:
    def __init__(self, is_premium_member):
        self.is_premium_member = is_premium_member

class ProductOffer:
    def __init__(self, has_expired):
        self.has_expired = has_expired

def can_apply_product_offer(customer, num_items, product_offer):
    if customer.is_premium_member:
        # Premium members do not need to buy a specific amount of products.
        return not product_offer.has_expired
    else:
        # Non-premium customers must buy more than 2 items.
        return num_items > 2 and not product_offer.has_expired

# Example usage:
customer1 = Customer(is_premium_member=True)
customer2 = Customer(is_premium_member=False)

offer1 = ProductOffer(has_expired=False)
offer2 = ProductOffer(has_expired=True)

num_items_premium = 1  # Premium member buys 1 item
num_items_non_premium = 3  # Non-premium customer buys 3 items

print("Customer 1 (Premium Member):")
print("Offer 1:", can_apply_product_offer(customer1, num_items_premium, offer1))  # Offer 1 is not expired, so it can be applied
print("Offer 2:", can_apply_product_offer(customer1, num_items_premium, offer2))  # Offer 2 is expired, so it cannot be applied

print("\nCustomer 2 (Non-Premium Member):")
print("Offer 1:", can_apply_product_offer(customer2, num_items_non_premium, offer1))  # Offer 1 is not expired, and customer buys more than 2 items, so it can be applied
print("Offer 2:", can_apply_product_offer(customer2, num_items_non_premium, offer2))  # Offer 2 is expired, so it cannot be applied

Customer 1 (Premium Member):
Offer 1: True
Offer 2: False

Customer 2 (Non-Premium Member):
Offer 1: True
Offer 2: False

8. Use the following code to follow the instructions below:

username = 'codeup'
password = 'notastrongpassword'
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus: Neither the username or password can start nor end with whitespace

In [64]:
# Given variables
username = 'codeup'
password = 'notastrongpassword'

# Check conditions and create boolean variables
is_password_length_valid = len(password) >= 5
is_username_length_valid = len(username) <= 20
is_password_different_from_username = password != username
is_no_whitespace_in_username = not (username.startswith(' ') or username.endswith(' '))
is_no_whitespace_in_password = not (password.startswith(' ') or password.endswith(' '))

# Display the results
print("Is the password at least 5 characters? ", is_password_length_valid)
print("Is the username no more than 20 characters? ", is_username_length_valid)
print("Is the password different from the username? ", is_password_different_from_username)
print("Does the username not start or end with whitespace? ", is_no_whitespace_in_username)
print("Does the password not start or end with whitespace? ", is_no_whitespace_in_password)

Is the password at least 5 characters?  True
Is the username no more than 20 characters?  True
Is the password different from the username?  True
Does the username not start or end with whitespace?  True
Does the password not start or end with whitespace?  True